/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
* {
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 85%;
  margin: 0 auto;
}
.header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #fff;
  z-index: 9;
  background: rgba(95, 13, 82, 0.53);
}
.header a {
  scroll-behavior: smooth;
  color: #fff;
  font-weight: bold;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
}
.header_logo {
  font-size: 32px;
}
.header_nav {
  display: flex;
  column-gap: 40px;
}
.header_call span {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  color: rgb(95, 13, 82);
  border: 1px solid rgb(95, 13, 82);
  padding: 15px 20px;
  background: #fff;
  border-radius: 32px;
  font-weight: bold;
}

.home {
  height: 100vh;
  background: #000;
  position: relative;
  margin-bottom: 150px;
}
.home_bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
.home .wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.home_name {
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}
.home_tag {
  font-weight: bold;
  color: #fff;
  font-size: 84px;
  line-height: 74px;
  max-width: 610px;
}
.home_desc {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  max-width: 610px;
}

.form {
  display: flex;
  background: #fff;
  flex-wrap: wrap;
  padding: 32px;
  border-radius: 16px;
  max-width: 880px;
  row-gap: 16px;
  column-gap: 24px;
  justify-content: space-between;
}
.form > label > input {
  padding: 10px 15px;
  border: 1px solid rgb(45, 49, 52);
  border-radius: 4px;
  line-height: 24px;
  color: rgb(45, 49, 52);
  width: 100%;
}
.form > label {
  position: relative;
  width: 30%;
}
.form > label::before {
  content: "";
  background: #fff;
  position: absolute;
  top: -50%;
  left: 10px;
  display: inline-block;
  padding: 0 5px;
  transform: translateY(50%);
}
.form .label_name::before {
  content: "Поездка";
}
.form .label_date::before {
  content: "Дата";
}
.form .label_count::before {
  content: "Кол-во пассажиров";
}
.btn {
  display: flex;
  align-items: center;
  color: #fff;
  background: rgb(95, 13, 82);
  border-radius: 4px;
  padding: 10px 15px;
  line-height: 28px;
  column-gap: 5px;
}
.name_list.open {
  display: flex;
}
.name_list {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 120%;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  border: 1px solid rgb(45, 49, 52);
  width: 100%;
  z-index: 2;
}
.name_list__item {
  padding: 10px 0;
  padding-left: 5px;
}
.name_list__item:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}

body {
  background: rgba(65, 53, 63, 1) url(./img/Rectangle.svg);
  background-attachment: fixed;
  background-size: auto;
  overflow-x: hidden;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.trips_gallery {
  margin-bottom: 100px;
  position: relative;
}
.decore_1 {
  position: absolute;
  top: -250px;
  left: -250px;
  transform: rotate(0deg);
  z-index: -1;
}
.decore_2 {
  position: absolute;
  bottom: -1550px;
  right: -0;
  transform: rotate(180deg);
  z-index: -1;
}

.trips_gallery h2 {
  text-align: center;
  margin-bottom: 40px;
}

.trips_cards {
  display: flex;
  column-gap: 24px;
}
.trips_card {
  width: 100%;
  background: #fff;
  border-radius: 24px;
  color: rgb(95, 13, 82);
  padding: 24px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.trips_card h5 {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 24px;
}

.about {
  overflow: hidden;
  position: relative;
  color: #fff;
  margin-bottom: 100px;
}
.about .wrapper {
  display: flex;
  column-gap: 50px;
}
.about_info {
  width: auto;
  flex-shrink: 2;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.about_img {
  display: flex;
  width: 50%;
  flex-grow: 2;
  border-radius: 24px;
  align-items: center;
  position: relative;
}
.about_light {
  max-width: 1000px;
  width: 600px;
  height: 145%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.about_images {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
}
.about_images img {
  width: 30%;
  max-width: 200px;
}

.trips {
  margin-bottom: 150px;
}
.trips .trips_cards {
  justify-content: space-between;
  margin-top: 40px;
}
.trips .trips_card {
  width: 25%;
  text-align: left;
  align-items: start;
  row-gap: 14px;
}
.trips_card h5 {
  font-size: 18px;
  margin-bottom: 0;
}
.trips_card p {
  font-size: 16px;
}
.trips_card span {
  color: rgba(91, 95, 98, 1);
}
.card_btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  color: rgb(95, 13, 82);
  border: 1px solid rgb(95, 13, 82);
  border-radius: 40px;
  cursor: pointer;
}

.ticket {
  position: relative;
  background-image: url(./img/ticket.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  backdrop-filter: blur(15px);
  padding: 250px 0;
  overflow-y: hidden;
}
.ticket_light {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 200%;
  backdrop-filter: brightness(60%);
  z-index: -1;
}
.form .btn {
  margin-left: auto;
}
.ticket_form {
  margin: 0 auto;
}
.ticket_form .btn {
  margin: 0 auto;
  font-size: 24px;
  padding: 20px 30px;
  border-radius: 20px;
}

.faq {
  margin-top: 90px;
  text-align: center;
  margin-bottom: 100px;
}
.faq h2 {
  margin-bottom: 50px;
}
.quections {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.quections__item {
  padding: 25px 50px;
  background: #fff;
  border-radius: 20px;
  color: rgba(8, 6, 6, 1);
  text-align: left;
}
.quections__title {
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quections__answer {
  font-size: 16px;
  /* margin-top: 20px; */
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.arrow {
  transition: 0.5s;
}
.quections__title.open .arrow {
  transform: scale(1, -1);
}
.quections__title.open ~ .quections__answer {
  padding-bottom: 2%;
  margin-top: 20px;
}
.quections__item:nth-child(1) .quections__title.open ~ .quections__answer {
  padding-bottom: 5%;
}
.quections__item:nth-child(5) .quections__title.open ~ .quections__answer {
  padding-bottom: 6%;
}

.near_trips {
  margin-bottom: 120px;
}
.near_trips h2 {
  text-align: center;
  margin-bottom: 60px;
}
.near_trips__body {
  display: flex;
  column-gap: 30px;
}
.near_trips__photos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-between;
  width: 35%;
}
.near_img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}
.near_trips__card {
  width: 23%;
  align-items: start;
}
.near_trips__card h5 {
  margin-bottom: 15px;
}
.near_trips__card p {
  margin-bottom: 15px;
  text-align: left;
}
.near_trips .card_btn {
  margin-top: 15px;
}
.near_trips__block {
  background: #fff;
  border-radius: 24px;
  padding: 24px 32px;
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.near_trips__block h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(95, 13, 82);
}
.near_trips__block p {
  font-size: 14px;
}
.near_trips__right {
  width: 35%;
}
.near_trips__right {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.near_trips_b {
  display: flex;
  justify-content: space-between;
}
.lastform {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 10px;
}
.lastform_form {
  row-gap: 40px;
}
.footer {
  background: rgb(95, 13, 82);
  color: #fff;
  padding: 80px 0;
  position: relative;
}
.footer_bottom {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: lighter;
}
.footer a {
  color: #fff;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_link {
  display: flex;
  column-gap: 5px;
  align-items: center;
  font-size: 14px;
}
.footer_local {
  font-size: 18px;
}
.footer__logo {
  width: 25%;
}
.footer__logo h5 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.footer_menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 40%;
}
.footer_list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  justify-content: space-between;
}
.footer_data {
  width: 25%;
}
.footer .btn-invert {
  background-color: #fff;
  color: rgb(95, 13, 82);
  border-radius: 10px;
  font-weight: bold;
  justify-content: center;
  padding: 16px 24px;
}

@media screen and (max-width: 1420px) {
  .near_img {
    width: 160px;
    height: 160px;
  }
  .near_trips__block {
    height: 160px;
  }
}

@media screen and (max-width: 1200px) {
  .near_img {
    width: 135px;
    height: 135px;
  }
  .near_trips__block {
    height: 135px;
  }
  .near_trips_b {
    margin-top: auto;
  }
  .near_trips__photos {
    row-gap: 50px;
  }
  .near_trips__photos .near_img {
    margin-top: auto;
  }
  .near_trips__card img {
    width: 100%;
    height: 120px;
  }
  .near_trips .card_btn {
    font-size: 12px;
    margin-top: 10px;
  }
  .near_trips__card h5 {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
  }
  .near_trips .near_trips__card p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .header_logo {
    font-size: 20px;
  }
  .header_nav {
    column-gap: 30px;
  }
  .header_link {
    font-size: 14px;
  }
  .header_call span {
    padding: 10px 15px;
    font-size: 12px;
  }
  .header .wrapper {
    column-gap: 10px;
  }
  .home_tag {
    font-size: 64px;
  }
  .trips_card p {
    font-size: 14px;
  }
  .card_btn {
    font-size: 14px;
  }
  .quections__item:nth-child(1) .quections__title.open ~ .quections__answer {
    padding-bottom: 6%;
  }
  .quections__title.open ~ .quections__answer {
    padding-bottom: 3%;
  }
  .quections__item:nth-child(5) .quections__title.open ~ .quections__answer {
    padding-bottom: 8%;
  }
  .home .wrapper {
    row-gap: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .near_trips__body {
    flex-wrap: wrap;
    row-gap: 50px;
  }
  .near_trips__card {
    width: 45%;
    order: 1;
  }
  .near_trips__photos {
    width: 100%;
    flex-wrap: nowrap;
    order: 3;
  }
  .near_trips__right {
    width: 45%;
    order: 2;
  }
  .near_trips__card img {
    object-fit: cover;
  }
  .near_trips__block {
    height: 50%;
  }
  .footer__logo h5 {
    font-size: 30px;
  }
  .footer__logo,
  .footer_data {
    width: 22%;
  }
  .footer_local {
    font-size: 14px;
  }
  .footer_link {
    font-size: 10px;
  }
  .footer_link img {
    width: 20px;
    height: 20px;
  }
  .footer_bottom {
    font-size: 12px;
  }
  .footer .btn-invert {
    padding: 5px 10px;
    font-size: 12px;
  }

  .header_logo {
    font-size: 14px;
  }
  .header_link {
    font-size: 12px;
  }
  .header_call span {
    font-size: 10px;
    padding: 6px 12px;
  }
  .home_tag {
    font-size: 48px;
  }
  .home_name {
    font-size: 16px;
  }
  .home_desc {
    font-size: 14px;
    line-height: 20px;
  }
  .trips_card h5 {
    font-size: 16px;
  }
  .trips_card p {
    font-size: 12px;
    padding-top: 10px;
  }
  .form > label::before {
    font-size: 12px;
    top: -30%;
  }
  .trips .trips_card {
    width: 30%;
  }
  .card_btn {
    font-size: 12px;
    padding: 10px 20px;
  }
  .ticket_form .btn {
    padding: 16px 24px;
    font-size: 24px;
  }
  .quections__title {
    font-size: 16px;
  }
  .quections__answer {
    font-size: 14px;
  }
  .quections__item:nth-child(1) .quections__title.open ~ .quections__answer {
    padding-bottom: 10%;
  }
  .quections__item .quections__title.open ~ .quections__answer {
    padding-bottom: 8%;
  }
  .quections__item:nth-child(5) .quections__title.open ~ .quections__answer {
    padding-bottom: 12%;
  }
}
@media screen and (max-width: 767px) {
  .near_trips__photos {
    flex-wrap: wrap;
    width: 80%;
    column-gap: 0;
    row-gap: 30px;
  }
  .near_trips__body {
    align-items: center;
    justify-content: center;
    row-gap: 30px;
  }
  .near_trips__right {
    width: 80%;
  }
  .near_trips__photos .near_img {
    margin-top: 0;
  }
  .footer_menu,
  .footer_data {
    width: 100%;
  }
  .footer .wrapper {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .footer_bottom {
    font-size: 10px;
  }

  .ticket_form .btn {
    padding: 12px 24px;
    font-size: 16px;
  }
  .header_logo {
    display: none;
  }
  .header_nav {
    width: 100%;
    justify-content: space-between;
  }
  .header_link {
    font-size: 11px;
  }
  .header_call {
    display: none;
  }
  .header .wrapper {
    margin: 10px auto;
  }
  .home_tag {
    font-size: 36px;
    line-height: 40px;
  }
  .form > label {
    width: 100%;
  }
  .trips_cards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
  }
  .trips_card {
    width: 80%;
  }
  .about_img {
    display: none;
  }
  .about_images {
    column-gap: 16px;
  }
  .trips .trips_cards {
    align-items: center;
    justify-content: center;
  }
  .trips .trips_card {
    width: 80%;
  }
  .quections__item {
    padding: 16px 32px;
  }
  .quections__answer {
    font-size: 12px;
  }
  .quections__item:nth-child(1) .quections__title.open ~ .quections__answer {
    padding-bottom: 25%;
  }
  .quections__item .quections__title.open ~ .quections__answer {
    padding-bottom: 20%;
  }
  .quections__item:nth-child(5) .quections__title.open ~ .quections__answer {
    padding-bottom: 32%;
  }
}
@media screen and (max-width: 400px) {
  .header_nav {
    column-gap: 15px;
  }
  .quections__title {
    font-size: 15px;
  }
  .quections__answer {
    font-size: 11px;
  }
  .quections__title.open ~ .quections__answer {
    margin-top: 10px;
  }
  .quections__item:nth-child(1) .quections__title.open ~ .quections__answer {
    padding-bottom: 50%;
  }
  .quections__item .quections__title.open ~ .quections__answer {
    padding-bottom: 30%;
  }
  .quections__item:nth-child(5) .quections__title.open ~ .quections__answer {
    padding-bottom: 60%;
  }
  .near_trips_b{
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .near_img{
    width: 100%;
    height: 220px;
  }
}
