/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
* {
  font-family: "Inter", sans-serif;
}
.wrapper {
  max-width: 85%;
  margin: 0 auto;
}
.header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #fff;
  z-index: 9;
}
.header a {
  scroll-behavior: smooth;
  color: #fff;
  font-weight: bold;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
.header_logo {
  font-size: 32px;
}
.header_nav {
  display: flex;
  column-gap: 40px;
}
.header_call span {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  color: rgb(95, 13, 82);
  border: 1px solid rgb(95, 13, 82);
  padding: 15px 20px;
  background: #fff;
  border-radius: 32px;
  font-weight: bold;
}

.home {
  height: 100vh;
  background: #000;
  position: relative;
  margin-bottom: 150px;
}
.home_bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
.home .wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.home_name {
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}
.home_tag {
  font-weight: bold;
  color: #fff;
  font-size: 84px;
  line-height: 74px;
  max-width: 610px;
}
.home_desc {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  max-width: 610px;
}

.form {
  display: flex;
  background: #fff;
  flex-wrap: wrap;
  padding: 32px;
  border-radius: 16px;
  max-width: 880px;
  row-gap: 16px;
  column-gap: 24px;
  justify-content: space-between;
}
.form > label > input {
  padding: 10px 15px;
  border: 1px solid rgb(45, 49, 52);
  border-radius: 4px;
  line-height: 24px;
  color: rgb(45, 49, 52);
  width: 100%;
}
.form > label {
  position: relative;
  width: 30%;
}
.form > label::before {
  content: "";
  background: #fff;
  position: absolute;
  top: -50%;
  left: 10px;
  display: inline-block;
  padding: 0 5px;
  transform: translateY(50%);
}
.form .label_name::before {
  content: "Поездка";
}
.form .label_date::before {
  content: "Дата";
}
.form .label_count::before {
  content: "Кол-во пассажиров";
}
.btn {
  display: flex;
  align-items: center;
  color: #fff;
  background: rgb(95, 13, 82);
  border-radius: 4px;
  padding: 10px 15px;
  line-height: 28px;
  column-gap: 5px;
}
.name_list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 120%;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  border: 1px solid rgb(45, 49, 52);
  width: 100%;
}
.name_list__item {
  padding: 10px 0;
  padding-left: 5px;
}
.name_list__item:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}

body {
  background: rgb(45, 49, 52) url(./img/Rectangle.svg);
  background-attachment: fixed;
  background-size: auto;
  overflow-x: hidden;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.trips_gallery {
  margin-bottom: 100px;
  position: relative;
}
.decore_1 {
  position: absolute;
  top: -250px;
  left: -250px;
  transform: rotate(0deg);
  z-index: -1;
}

.trips_gallery h2 {
  text-align: center;
  margin-bottom: 40px;
}

.trips_cards {
  display: flex;
  column-gap: 24px;
}
.trips_card {
  width: 100%;
  background: #fff;
  border-radius: 24px;
  color: rgb(95, 13, 82);
  padding: 24px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.trips_card h5 {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 24px;
}


.about {
  color: #fff;
  margin-bottom: 100px;
}
.about .wrapper {
  display: flex;
  column-gap: 50px;
}
.about_info {
  width: auto;
  flex-shrink: 2;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.about_img {
  display: flex;
  width: 50%;
  flex-grow: 2;
  border-radius: 24px;
  align-items: center;
}

.about_images {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
}
.about_images img {
  width: 30%;
  max-width: 200px;
}

.trips{
  margin-bottom: 150px;
}
.trips .trips_cards{
  justify-content: space-between;
  margin-top: 40px;
}
.trips .trips_card{
  width: 25%;
  text-align: left;
  align-items: start;
  row-gap: 14px;
}
.trips_card h5{
  font-size: 18px;
  margin-bottom: 0;
}
.trips_card p{
  font-size: 16px;
}
.trips_card span{
  color: rgba(91, 95, 98, 1);
}
.card_btn{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  color: rgb(95, 13, 82);
  border: 1px solid rgb(95, 13, 82);
  border-radius: 40px;
  cursor: pointer;
}

.ticket{
  position: relative;
  background-image: url(./img/ticket.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  backdrop-filter: blur(15px);
  padding: 250px 0;
  overflow-y: hidden;
}
.ticket_light{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 200%;
  backdrop-filter: blur(3px);
  z-index: -1;
}
.form .btn{
  margin-left: auto;
}
.ticket_form{
  margin: 0 auto;
}
.ticket_form .btn{
  margin: 0 auto;
  font-size: 30px;
  padding: 24px 36px;
  border-radius: 20px;
}

.faq{
  margin-top: 90px;
  text-align: center;
}
.quections{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.quections__item{
  padding: 25px 50px;
  background: #fff;
  border-radius: 20px;
  color: rgba(8, 6, 6, 1);
  text-align: left;
}
.quections__title {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quections__answer{
  font-size: 16px;
  /* margin-top: 20px; */
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.arrow{
  transition: 0.5s;
}
.quections__title:hover .arrow{
  transform: scale(1,-1);
}
.quections__title:hover ~ .quections__answer{
  height: auto;
  margin-top: 20px;
}