/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
* {
  font-family: "Inter", sans-serif;
}
.wrapper {
  max-width: 85%;
  margin: 0 auto;
}
.header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #fff;
  z-index: 9;
}
.header a {
  scroll-behavior: smooth;
  color: #fff;
  font-weight: bold;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
.header_logo {
  font-size: 32px;
}
.header_nav {
  display: flex;
  column-gap: 40px;
}
.header_call span {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  color: rgb(95, 13, 82);
  border: 1px solid rgb(95, 13, 82);
  padding: 15px 20px;
  background: #fff;
  border-radius: 32px;
  font-weight: bold;
}

.home {
  height: 100vh;
  background: #000;
  position: relative;
}
.home_bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
.home .wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.home_name {
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}
.home_tag {
  font-weight: bold;
  color: #fff;
  font-size: 84px;
  line-height: 74px;
  max-width: 610px;
}
.home_desc {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  max-width: 610px;
}

.home_form {
  display: flex;
  background: #fff;
  flex-wrap: wrap;
  padding: 32px;
  border-radius: 16px;
  max-width: 880px;
  row-gap: 16px;
  column-gap: 24px;
  justify-content: space-between;
}
.home_form > label > input {
  padding: 10px 15px;
  border: 1px solid rgb(45, 49, 52);
  border-radius: 4px;
  line-height: 24px;
  color: rgb(45, 49, 52);
  width: 100%;
}
.home_form > label {
  position: relative;
  width: 30%;
}
.home_form > label::before {
  content: "";
  background: #fff;
  position: absolute;
  top: -50%;
  left: 10px;
  display: inline-block;
  padding: 0 5px;
  transform: translateY(50%);
}
.home_form .label_name::before {
  content: "Поездка";
}
.home_form .label_date::before {
  content: "Дата";
}
.home_form .label_count::before {
  content: "Кол-во пассажиров";
}
.btn {
  justify-self: end;
  color: #fff;
  background: rgb(95, 13, 82);
  border-radius: 4px;
  padding: 10px 15px;
  line-height: 28px;
  margin-left: auto;
}
.name_list{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 120%;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  border: 1px solid rgb(45, 49, 52);
  width: 100%;
}
.name_list__item{
  padding: 10px 0;
  padding-left: 5px;
}
.name_list__item:hover{
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}